<h1 mat-dialog-title>{{ isEditMode ? 'Edit' : 'Add' }} Product</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameControl">
      <mat-error>
        {{ nameControl.errors?.required && validationErrors.required }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [formControl]="descriptionControl">
      <mat-error>
        {{ descriptionControl.errors?.required && validationErrors.required }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput [formControl]="priceControl">
      <mat-error>
        {{ priceControl.errors?.required && validationErrors.required }}
        {{ priceControl.errors?.pattern && validationErrors.patternNumbersOnly }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Count</mat-label>
      <input matInput [formControl]="countControl">
      <mat-error>
        {{ countControl.errors?.required && validationErrors.required }}
        {{ countControl.errors?.pattern && validationErrors.patternNumbersOnly }}
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()" [disabled]="form.invalid">Ok</button>
</div>
