<h1 mat-dialog-title>{{ actionType | titlecase }} Product</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error>
        {{ form.controls['name'].errors?.required && validationErrors.required }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
      <mat-error>
        {{ form.controls['description'].errors?.required && validationErrors.required }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput formControlName="price">
      <mat-error>
        {{ form.controls['price'].errors?.required && validationErrors.required }}
        {{ form.controls['price'].errors?.pattern && validationErrors.patternNumbersOnly }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Count</mat-label>
      <input matInput formControlName="count">
      <mat-error>
        {{ form.controls['count'].errors?.required && validationErrors.required }}
        {{ form.controls['count'].errors?.pattern && validationErrors.patternNumbersOnly }}
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()" [disabled]="form.invalid">Ok</button>
</div>
