.details {
  display: flex;

  .info {
    display: block;
    width: 30%;

    .product {
      margin-bottom: 14px;

      .key {
        font-weight: bold;
      }
    }
  }

  .edit {
    .edit-button {
      margin-bottom: 20px;
    }

    mat-form-field {
      display: block;
    }
  }
}
