.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  outline: none;

  .username {
    font-size: 18px;
  }

  mat-icon {
    margin-right: 12px;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
