<app-toast></app-toast>

<div class="header">
  <div class="username">
    User
  </div>

  <div class="icons">
    <mat-icon aria-hidden="false" [routerLink]="'/'">home</mat-icon>
    <mat-icon aria-hidden="false">menu</mat-icon>
    <mat-icon aria-hidden="false">print</mat-icon>
    <mat-icon aria-hidden="false">schedule</mat-icon>
  </div>
</div>

<ng-container *ngIf="!(isShowingSpinner$ | async); else spinnerBlock">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #spinnerBlock>
  <app-spinner></app-spinner>
</ng-template>
