<app-toast></app-toast>

<div class="header">
  <div class="username">
    User
  </div>

  <div class="icons">
    <mat-icon aria-hidden="false" aria-label="Example home icon" [routerLink]="'/'">home</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">print</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">schedule</mat-icon>
  </div>
</div>

<ng-container *ngIf="!isShowingSpinner; else spinnerBlock">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #spinnerBlock>
  <app-spinner></app-spinner>
</ng-template>
