<app-toast></app-toast>

<div class="header" [routerLink]="'/'">
  <div class="username">
    User 1
  </div>

  <div class="icons">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">print</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">schedule</mat-icon>
  </div>
</div>

<router-outlet></router-outlet>
