.button-block {
  padding: 0 16px 14px;

  button {
    display: block;
    margin-left: auto;
  }
}

table {
  width: 100%;

  .name-value {
    cursor: pointer;
  }
}

.table-info {
  padding: 24px 16px 8px;
  display: flex;
  justify-content: space-between;
}
