<ng-container *ngIf="!(isLoading$ | async); else loadingBlock">
  <div class="button-block">
    <button mat-raised-button color="primary" (click)="openAddModal()">Add Product</button>
  </div>
  <div class="button-block">
    <button mat-raised-button color="warn" (click)="showError()">Show Error</button>
  </div>

  <ng-container *ngIf="products?.length; else noProductsBlock">
    <table mat-table [dataSource]="products" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" class="name-value"
            (click)="openDetailsPage(element.id)"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price }} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Count </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
                    (click)="openDeleteModal(element.id)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="table-info">
      <div>Total</div>
      <div>{{ total$ | async }}</div>
    </div>
    <div class="table-info">
      <div>Count</div>
      <div>{{ products.length }}</div>
    </div>
  </ng-container>

  <ng-template #noProductsBlock>
    No products.
  </ng-template>
</ng-container>

<ng-template #loadingBlock>
  <app-spinner></app-spinner>
</ng-template>
